# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Cloud\Dropbox\Documents\Development\Linkedin Learning\IntelliJ IDEA Essential Training\Ch06\06_03\Calculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
